.hero-container {
  background-image: url(../../assets/images/hero-background.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 73% 0%;
  @media (max-width: 650px) {
    height: 90vh;
  }
  .hero {
    position: relative;

    .hero-wrapper {
      position: absolute;
      top: 134px;
      left: 80px;
      h1 {
        color: #fff;
        line-height: 76px;
        @media (max-width: 650px) {
          line-height: normal;
        }
      }
      @media (max-width: 650px) {
        // top: 200px;
        left: 24px;
        right: 24px;
      }
      .content {
        padding: 32px 0;
      }
    }
  }
}
