.header-container {
  // background-color: var(--primary-color);
  background-color: #f5dec2;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 80px;
    img {
      cursor: pointer;
    }
    @media (max-width: 650px) {
      padding: 16px 24px;
    }
    @media (max-width: 650px) {
      img {
        width: 146px;
      }
    }
  }
}
