.commitment-container {
  padding: 80px;
  @media (max-width: 650px) {
    padding: 40px 24px;
  }
  .commitment-wrapper {
    .heading {
      padding-bottom: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      @media (max-width: 650px) {
        padding-bottom: 32px;
        h1 {
          text-align: center;
          line-height: normal;
        }
      }

      .border {
        width: 160px;
        height: 10px;
        background: var(--secondary-color);
      }
    }
    .card-container {
      display: flex;
      flex-direction: row;
      gap: 24px;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        border: 1px solid var(--border-secondary);
        padding: 24px;
        width: 100%;
        max-width: 270px;
        transition: all 0.5s ease;
        @media (max-width: 730px) {
          max-width: 100%;
        }
        .header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 4px;
          padding-bottom: 16px;
          .border {
            width: 64px;
            height: 2px;
            background: var(--secondary-color);
          }
        }
        h5 {
          color: #999;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px; /* 114.286% */
          letter-spacing: 0.84px;
          text-transform: uppercase;
          padding-top: 16px;
        }
        h3 {
          padding: 16px 0 0;
          line-height: normal;
          font-size: 20px;
          @media (max-width: 650px) {
            font-size: 24px;
          }
        }
        p {
          padding-bottom: 16px;
        }
        span {
          color: var(--secondary-color);
          border-bottom: 1px solid var(--secondary-color);
        }
        .content {
          overflow: hidden;
          max-height: 200px;
          transition: max-height 0.5s ease-out, padding 0.5s ease-out;
          padding: 0;
        }

        .content.expanded {
          max-height: 500px; /* Adjust this value based on your content */
          padding: 10px 0;
        }
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border: none;
          transform: scale(1.01);
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}
